@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("../css/global.css");

:root{
    --nav-background-color:black;
    --brand-text-color:white;
}

.nav-bar{
    background-color: var(--nav-background-color);
    margin: 0;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
}
.nav-brand{
    font-family: 'Akaya Telivigala', cursive;
    color: var(--brand-text-color);
    justify-content: space-evenly;
}

.search{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.search > input{
    outline: none;
    padding: 0.6rem;
    width: 50%;
    border-radius: 0.2rem;
    border: none;
}

.menus{
    font-family: 'Source Serif 4', sans-serif;
}

.menu{
    margin: 0 1rem;
}

#cart{
    font-size: 1.5rem;
}

#wishlist{
    font-size: 1.5rem;
}
