@import url("../css/global.css");
@import url("../home/home.css");

/* Product Container Style  */

.product-wrapper{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.product-container{
    margin-top: 5rem;
    margin-left:20rem;
}




