@import url("../css/global.css");
@import url("../home/home.css");

/* Product Container Style  */

.product-wrapper{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.product-container{
    margin-top: 5rem;
    margin-left:20rem;
}

/* Media Query */

@media screen and (max-width:1300px) {
    .product-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:1000px) {
    .product-container{
        grid-template-columns: repeat(1,1fr);
    }
}



